/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.graft.bars table {
  height: 5rem; }
.graft.bars .heading .max {
  visibility: hidden; }
.graft.bars .interval {
  background: WhiteSmoke; }
  .graft.bars .interval:hover {
    background: Gainsboro; }
    .graft.bars .interval:hover .bar {
      background: Teal; }
.graft.bars .bar {
  background: Turquoise;
  bottom: 0; }
.graft.tooltip .bars.value {
  color: Turquoise;
  font-weight: bold; }

.graft.bubbles {
  text-align: center; }
  .graft.bubbles .set {
    margin-bottom: 1rem; }
  .graft.bubbles .bubble {
    transition: background .5s;
    display: inline-block;
    border-radius: 50%; }
  .graft.bubbles .name:hover {
    text-decoration: underline; }
  .graft.bubbles .inactive .bubble {
    background: Silver !important; }
  .graft.bubbles .inactive .name {
    color: Gray !important; }
.graft.tooltip .bubbles {
  font-weight: bold; }

.graft.donut {
  position: relative;
  overflow: hidden; }
  .graft.donut, .graft.donut .hole {
    border-radius: 50%; }
  .graft.donut .hole {
    background: White;
    position: absolute;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    z-index: 1;
    text-align: center; }
  .graft.donut .label {
    position: relative;
    padding: 10%;
    top: 50%; }
  .graft.donut .all {
    font-size: 1.5em;
    font-weight: 300; }
  .graft.donut .space, .graft.donut .set:not(:last-child) {
    position: absolute;
    width: 9999rem;
    height: 9999rem;
    bottom: 50%;
    left: 50%;
    -ms-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%; }
  .graft.donut .space {
    background: White; }
  .graft.donut .set {
    transition: background .5s;
    display: block; }
    .graft.donut .set.inactive {
      background: Silver !important; }
    .graft.donut .set:last-child {
      width: 100%;
      height: 100%; }

.graft.bars, .graft.bars table, .graft.stack, .graft.stack table {
  width: 100%; }
.graft.bars th, .graft.stack th {
  font-weight: normal;
  text-align: left; }
.graft.bars .max, .graft.stack .max {
  text-align: right;
  color: Silver; }
.graft.bars .info td, .graft.stack .info td {
  padding-top: 1rem; }
.graft.bars .interval, .graft.stack .interval {
  position: relative;
  display: block;
  height: 100%;
  width: 67%; }
.graft.bars .bar, .graft.stack .bar {
  transition: background .5s, height .5s, bottom .5s;
  position: absolute;
  width: 100%; }
.graft.bars .inactive .bar, .graft.stack .inactive .bar {
  background: Silver !important; }

.graft.stack {
  position: relative; }
  .graft.stack table {
    position: absolute;
    height: 25rem; }
  .graft.stack .info {
    display: none; }
  .graft.stack .set.first .interval {
    background: WhiteSmoke; }
    .graft.stack .set.first .interval.hover {
      background: Gainsboro; }

.graft.tooltip {
  border: 1px solid Gainsboro;
  background: White;
  padding: 1em;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  margin-top: 1em; }
  .graft.tooltip th {
    vertical-align: top;
    padding-right: .5rem; }
  .graft.tooltip .total {
    border-top: 1px solid Gainsboro; }
    .graft.tooltip .total > * {
      padding-bottom: 1rem; }
  .graft.tooltip:before, .graft.tooltip:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -1em;
    margin-left: -1em;
    border-width: 0 1em 1em;
    border-style: solid;
    border-color: transparent; }
  .graft.tooltip:before {
    border-bottom-color: Gainsboro; }
  .graft.tooltip:after {
    border-bottom-color: White;
    margin-top: 1px; }

body {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.375em;
  color: #555; }

.github {
  text-align: right; }

.row::after {
  content: ' ';
  display: table;
  clear: both; }

.col {
  float: left;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.graft.donut .set.blue, .graft.bubbles .set.blue .bubble, .graft.stack .set.blue .bar {
  background: cornflowerblue; }
.graft .info.blue .name,
.graft .set.blue .name,
.graft .name.blue {
  color: cornflowerblue; }
.graft.donut .set.red, .graft.bubbles .set.red .bubble, .graft.stack .set.red .bar {
  background: crimson; }
.graft .info.red .name,
.graft .set.red .name,
.graft .name.red {
  color: crimson; }
.graft.donut .set.green, .graft.bubbles .set.green .bubble, .graft.stack .set.green .bar {
  background: limegreen; }
.graft .info.green .name,
.graft .set.green .name,
.graft .name.green {
  color: limegreen; }
.graft.donut .set.orange, .graft.bubbles .set.orange .bubble, .graft.stack .set.orange .bar {
  background: orange; }
.graft .info.orange .name,
.graft .set.orange .name,
.graft .name.orange {
  color: orange; }
.graft.donut .set.purple, .graft.bubbles .set.purple .bubble, .graft.stack .set.purple .bar {
  background: purple; }
.graft .info.purple .name,
.graft .set.purple .name,
.graft .name.purple {
  color: purple; }

.graft a {
  text-decoration: none; }
  .graft a:hover {
    text-decoration: underline; }
.graft.templates {
  display: none; }
